.song{
    transition: box-shadow 0.15s ease-in-out;
}
.song img{
    max-height: 150px;
}
.song:hover {
    box-shadow: -1px -2px 5px rgba(255, 255, 255, 0.481);
    transform: scale(1.03)
}
.song h4{
    color: gray;
     margin-top: -10px;
}
@media (max-width: 768px){
    .song img{
        height: 50px;
        width: 50px;
        padding-right: 10px;
    }
    .song{
        display: flex;
        width: 100vw;
        align-items: center;
    }
    .song h4{
        padding: 1%;
        margin:0;
    }
}